@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100vh;
  width: 100%;
  font-family: "Inter", sans-serif;
  background: #f8fafc;
  color: #0f172a;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  transition: all 0.25s ease;
}

input {
  font-family: inherit;
}